.one{
   
    background-color: chartreuse;
    height: 100px;
    width: 300px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
        border-radius: 25px;
        a{
            text-decoration: none;

        }

}
.two{
    background-color: chocolate;
    height: 100px;
    width: 300px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
        border-radius: 25px;
        text-align: center;

}
.buttons{
    display: flex ;
    gap: 10px;
}
@media  (max-width:600px) {
    
    body{
         background-image: url(v.png);
    }
    
    h1{
        text-align: center;
        background-color: rgb(0, 0, 0);
        color: white;
        border-radius: 25px;
    }
    .one{
        height: 100px;
        width: 200px;
        font-size: 15px;
        border-radius: 25px;

    }
    .two{
        
        height: 100px;
        width: 200px;
        font-size: 15px;
        border-radius: 25px;
        
        

    }
    img{
        height: 300px;
        width: 300px;
        position: relative;
        justify-content: center;
    }
    a{
        text-decoration: none;
    }
}

