.one{
   
    background-color: chartreuse;
    height: 100px;
    width: 300px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
        border-radius: 25px;

}
.two{
    background-color: chocolate;
    height: 100px;
    width: 300px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
        border-radius: 25px;
        text-align: center;

}
.buttons{
    display: flex ;
    gap: 10px;
}
@media  (max-width:600x) {
    body{
        background-color: black;
    }
}
